<!-- app/views/crypto/index.html.erb -->

<h1>Crypto Information</h1>

<h2>Server Time</h2>
<p><%= @server_time %></p>


<h1>Activos</h1>
<div class="table-responsive mt-3">
  <table class="table align-middle">
    <thead class="table-secondary">
    <tr>
      <th>Activo</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each_with_index do |asset, index| %>
      <tr>
        <td><%= asset %></td>
        <td><%= link_to 'Analizar', analyze_path(symbol: asset), class: 'btn btn-sm btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

