<h1>Crypto Information</h1>

<h2>Server Time</h2>
<p><%= @server_time %></p>

<h2>BTCUSDT Ticker</h2>
<p>Price: <%= @btc_ticker[:lastPrice] %></p>

<h2>Account Information</h2>
<pre><%= @account_info %></pre>
