<h1>Crypto Information</h1>

<h2>Server Time</h2>
<p><%= @server_time %></p>

<h2>BTCUSDT Ticker</h2>
<p>Price: <%= @btc_ticker[:lastPrice] %></p>


<h2>Historico</h2>
<%= button_to 'Actualizar', process_and_save_klines_path(), class: 'btn btn-primary' %>
<% @history.each do |line| %>
  <p><%= line.to_json %></p>
<% end %>
