<%= render partial: 'layouts/template/breadcumb' %>

<div class="card shadow-sm radius-10 border-0 mb-3">
  <div class="card-body">
    <h4>Trading</h4>
    <p>Crypto: <%= link_to 'Ver', crypto_path %> </p>
  </div>
</div>